.containerBox {
    display: flex;
    justify-content: space-evenly;
    
}
.btnBox {
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
}
.modifyBox {
    display: flex;
}
@media all and (max-width: 768px){
    .modifyBox{
        flex-direction: column;
    }
    .titleMessage {
        text-align: left;
    }
    .contentMessage{
        text-align: left;
    }
}
@media all and (max-width: 575px){
    .modifyBox{
        flex-direction: row;
    }

}
